@import url("reset.min.css");

html,
body{
    font-family: oswald;
    font-weight: 300;
    font-size: 0px;
}

#content > .title{
    padding: 0px;
    margin: 0px;

    font-size: 17px;
    font-weight: bold;

    display: inline-block;
    width: 100%;
    margin-bottom: 7px;
    border-bottom: 1px solid #ebebeb;
}

#content{
    height: 100%;
    width: 100%;
    position:relative;
    display: inline-block;
}

.tab-container{
    display: inline-block;
    padding: 0px 20px 7px 20px;

    width: calc(100% - 40px);
    overflow:hidden;
    position: relative;
}

.tab-container:last-child{
    padding-bottom: 0px;
    border-bottom: none;
}

.favicon{
    display: inline-block;
    height: 20px;

    float: left;
    vertical-align: bottom;
}

.url{
    max-width: calc(100% - 65px);

    color:#333;
    display: inline-block;
    position:relative;

    margin: 0px 0px 0px 7px;

    overflow: hidden;

    font-size: 14px;
    font-weight: 300;
    white-space:nowrap;
    text-align: left;
    text-overflow: ellipsis;
    text-align: center;
    text-decoration: underline;

    cursor: pointer;
}

.right{
    float: right;
    display: inline-block;

    margin: 4px 0px 0px 0px;
}

.star{
    display: inline-block;
    vertical-align: top;
    margin: 0px 5px 0px 0px;

    font-family: arial;
    font-size: 13px;
    color:#000;
    cursor:pointer;
}

.remove{
    display: inline-block;
    position:relative;
    margin: -1px 0px 0px 0px;

    font-family: arial;
    font-size: 13px;
    color:#777;
    cursor:pointer;
}
