@import url("reset.min.css");

html,
body{
    height: 100%;
    width: 100%;

    margin: 0px;
    padding: 0px;
    overflow: hidden;

    font-family: oswald;
    font-weight: 300;
    font-size: 0px;
}

body{
    background-color: #eee;
    background-attachment:fixed;

    overflow: auto;
}

#page{
    height: calc(100% - 110px);
    width: 44%;

    margin-right: 28%;
    margin-left: 28%;
    margin-top: 55px;
    margin-bottom: 55px;

    display: inline-block;

    font-family: oswald;

    background-color: none;
}

#saved-tabs-container{
    height: calc(100% - 46px);
    width: calc(100% - 38px);
    border-radius: 4px;

    padding: 23px 15px 23px 23px;
    background-color: #fff;

    position:relative;
    display: inline-block;

    box-shadow: rgba(0, 0, 0, .10) 0px 2px 1px, rgba(0, 0, 0, .10) 0px 0px 1px;
}

#saved-tabs > nav{
    width: 100%;
    margin-bottom: 20px;
}

#saved-tabs > nav:last-child{
    margin-bottom: 0px;
}

#saved-tabs > nav > .title{
    display: inline-block;
    width: 100%;

    margin-bottom: 7px;

    border-bottom: 1px solid #ddd;
}

#saved-tabs > nav > .title > h1{
    float: left;

    padding: 0px;
    margin: 0px;

    font-size: 17px;
    font-weight: bold;
}

#saved-tabs > nav > .title > h2{
    float: right;

    padding: 0px;
    margin: 0px;

    font-size: 17px;
    font-weight: 300;

    cursor: pointer;
}

#saved-tabs{
    height: 100%;
    width: 100%;
    padding-right: 6px;
    position:relative;
    display: inline-block;

    overflow-y: scroll;
}

.tab-container{
    display: inline-block;
    padding: 0px 20px 7px 20px;

    width: calc(100% - 40px);
    overflow:hidden;
    position: relative;
}

.tab-container:last-child{
    padding-bottom: 0px;
    border-bottom: none;
}

.favicon{
    display: inline-block;
    height: 20px;

    float: left;
    vertical-align: bottom;
}

.url{
    max-width: calc(100% - 65px);

    color:#333;
    display: inline-block;
    position:relative;

    margin: 0px 0px 0px 7px;

    overflow: hidden;

    font-size: 14px;
    font-weight: 400;
    white-space:nowrap;
    text-align: left;
    text-overflow: ellipsis;
    text-align: center;
    text-decoration: underline;

    cursor: pointer;
}

.right{
    float: right;
    display: inline-block;

    margin: 4px 0px 0px 0px;
}

.star{
    display: inline-block;
    vertical-align: top;
    margin: 0px 5px 0px 0px;

    font-family: arial;
    font-size: 13px;
    color:#000;
    cursor:pointer;
}

.remove{
    display: inline-block;
    position:relative;
    margin: -1px 0px 0px 0px;

    font-family: arial;
    font-size: 13px;
    color:#777;
    cursor:pointer;
}

/*tablet--------------------------->*/
@media only screen and (min-width: 600px) and (max-width: 950px) {
    #page{
        width: 64%;

        margin-right: 18%;
        margin-left: 18%;
    }
}

/*mobile--------------------------->*/
@media only screen and (min-width: 0px) and (max-width: 600px) {
    #page{
        height: calc(100% - 46px);
        width: calc(100% - 46px);

        margin: 23px 23px 0px 23px;
    }
}
